In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Company_Data.csv')
df.head(2)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes

In [3]:
df.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
Sales          400 non-null float64
CompPrice      400 non-null int64
Income         400 non-null int64
Advertising    400 non-null int64
Population     400 non-null int64
Price          400 non-null int64
ShelveLoc      400 non-null object
Age            400 non-null int64
Education      400 non-null int64
Urban          400 non-null object
US             400 non-null object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [5]:
df.astype({'Sales': 'int64'}).dtypes

Sales           int64
CompPrice       int64
Income          int64
Advertising     int64
Population      int64
Price           int64
ShelveLoc      object
Age             int64
Education       int64
Urban          object
US             object
dtype: object

In [6]:
#Label encoder
from sklearn.preprocessing import LabelEncoder

In [7]:
lbe = LabelEncoder()

In [8]:
df["ShelveLoc"] = lbe.fit_transform(df["ShelveLoc"])
df["Urban"] = lbe.fit_transform(df["Urban"])
df["US"] = lbe.fit_transform(df["US"])

In [9]:
df.head(2)

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1

In [10]:
X = df.drop('Sales',axis=1)
Y = df['Sales']

In [14]:
X.head(2)

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1

In [12]:
Y=df.iloc[:,0].values
Y1=np.array(Y)
Y2=Y1.astype(int,order='K', casting='unsafe', subok=True, copy=False)
Y2

array([ 9, 11, 10,  7,  4, 10,  6, 11,  6,  4,  9, 11,  3, 10, 11,  8,  7,
       12, 13,  8,  6, 12,  5,  5, 10, 14,  8,  5,  2,  7, 13,  8,  6,  8,
        2, 11,  8,  4,  6,  3,  2,  7, 10,  4,  4,  4, 12,  4,  3, 10,  1,
        4,  7,  6,  4,  6, 11,  0,  5,  5,  8,  7,  1,  8,  7,  4,  8,  9,
       13,  7,  9,  6,  5, 12,  6,  8, 10,  7,  4,  9,  8,  7, 11,  4,  2,
        8,  8, 11,  6,  7,  5,  4,  4,  8,  8,  5,  9,  7, 12,  4,  4,  6,
        5,  5,  4,  5,  0,  8,  3,  8,  9,  6,  6,  6,  9,  8,  5,  8,  7,
        7,  6, 11,  6,  8,  8,  9, 11,  6,  4,  4,  8,  6,  9,  7,  3,  6,
        5,  6, 10, 12,  6,  6,  7,  0,  9,  8,  3, 10,  7, 11, 10, 10,  7,
        5,  6,  7,  7, 10, 12,  9,  4,  2,  3,  5,  8,  0,  6,  6,  7, 11,
        8, 12,  9,  6,  0,  7,  5, 10, 10,  7,  4,  7,  4,  5,  9, 10,  8,
        6,  8, 12,  8,  6,  7, 13,  7,  4,  4,  2,  3,  6,  5,  5,  4,  2,
        8,  5,  4,  8,  7,  3,  4,  9, 12,  8,  4,  2,  5,  4,  9, 10, 10,
        6,  7,  3,  4,  6,  7,  8,  5, 11,  5,  8, 13,  8,  9,  5,  9,  9,
        7,  3, 10, 12,  4,  7,  8, 10,  6,  5,  5,  5,  9,  3,  8,  5,  9,
        7,  4,  8,  3,  5,  7,  5,  6,  7,  6,  5,  9,  5,  6,  5, 11,  4,
       12, 10,  7,  6,  6,  7,  7,  3,  2, 11,  7,  5,  6,  7,  7,  6,  6,
        8,  9,  6, 11, 11, 12,  4,  8,  3, 10,  9,  8,  7,  5, 10, 11,  8,
        4,  5,  9, 11,  9,  6,  6,  9,  7,  6, 15,  6, 10,  6,  5,  7,  9,
       10,  2, 11,  4,  6,  3, 11,  4, 10,  5,  5,  7,  6,  5,  8,  5, 11,
        7,  7,  7,  5,  8,  4,  8,  6, 12,  9,  8, 10, 13,  9,  5,  7,  3,
       13,  4,  3,  8,  8,  5, 10, 10,  6,  5, 14, 10, 10,  7,  9,  7,  5,
        9,  7, 16,  6,  6,  5,  9,  3,  4,  9, 12,  5,  5,  8,  8,  8,  5,
        6,  4,  5,  5, 12,  6,  7,  5,  9])

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
clf = DecisionTreeClassifier()

In [21]:
clf.fit(X,Y2)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
X_in = np.array([138,73,11,276,120,0,42,17,1,1])
Y2_pred = clf.predict([X_in])
Y2_pred

array([9])

In [23]:
#Find the root of the decision tree
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

C:\Users\karale_M\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [25]:
dot_data=StringIO()
export_graphviz(clf,out_file=dot_data,filled=True,rounded=True,special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('Company_Data.png')

dot: graph is too large for cairo-renderer bitmaps. Scaling by 0.881141 to fit

True